@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  overflow: hidden;
  @apply m-0 p-0 bg-[#f8f8fa] scroll-pt-12;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


.social-login-button {
  @apply flex flex-row gap-4 min-w-[296px] h-12 text-[#3C4043] transition-[0.1s] px-6 py-3 rounded-[300px] bg-[#ffffff] border-2 border-[#DADCE0] relative;
}

.loading-container {
  @apply w-[50px] text-center flex items-center justify-center cursor-default;
}

.card {
  @layer w-[344px] flex flex-col shadow-[0px_4px_24px_rgba(49, 49, 49, 0.1)] mt-0 mb-[27px] mx-auto px-6 py-8 rounded-2xl bg-[#ffffff];
}

.error {
  @apply self-start text-xs font-semibold text-red-500 flex justify-self-start;
}

.form-input {
  @apply box-border flex flex-row items-center w-full h-12 border text-base leading-6 text-[#18171a] mb-[15px] px-4 py-3 rounded-[10px] border-solid border-[#dddbe0];
  background: #ffffff;
}

.form-input::placeholder {
  color: #77767a;
}

.login-button {
  @apply w-full h-12 text-white font-semibold text-base leading-6 transition-[0.1s] text-center transition-[0.1s] m-auto px-2 py-3 rounded-[300px] border-[none];
  background: #296982;
}

.login-button:disabled {
  background: #64949a;
}

.login-button:hover:enabled {
  @apply cursor-pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #669ca8;
}

.login-button:active:enabled {
  @apply opacity-50 cursor-pointer scale-[0.99];
  background: #70a3b9;
}

.positive-sign {
  @apply text-green-500
}

.negative-sign {
  @apply text-red-500
}